.my-bg-lightgreen{
    background-color: #19BC9B;
}

.my_bg-dark{
    background-color: #2C3E4F;
    color: white;
}

.about-us{
    color: white;
}

#portfolio img{
    width: 100%;
}

button{
    color: grey;
}

.navbar{
    color: white;
}

.my_wrapper{
    max-width: 1000px;
    margin: 0 auto;
}


h1{
    font-size: 55px;
}

h2{
    font-size: 20px;
}

header{
    background-color: #2C3E4F;
    color: white;
}

i{
    font-size: 35px;
}

.form-floating{
    height: 100px;
}

.fa-download{
    font-size: 15px;
}

.my_vertical-star::before,
.my_vertical-star::after{
    content: "";
    display: inline-block;
    height: 5px;
    width: 15%;
    vertical-align: middle;
    background-color: white;
    border-radius: 10%;
    margin-top: .8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.my_vertical-star-blue::before,
.my_vertical-star-blue::after{
    content: "";
    display: inline-block;
    height: 5px;
    width: 15%;
    vertical-align: middle;
    background-color: #2C3E4F;
    border-radius: 10%;
    margin-top: .8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.my_vertical-star-blue i{
    vertical-align: middle;
}

.my_vertical-star i{
    vertical-align: middle;
}


@media screen and (min-width:992px){
    main{
        width: 100%;
        margin: 0 auto;
    }

    .my_wrapper-small{
        width: 70%;
        margin: 0 auto;
    }

    .my_wrapper-big{
        width: 75%;
        margin: 0 auto;
    }
}